[submodule "LULESH"]
	path = LULESH
	url = https://github.com/thaisacs/LULESH
[submodule "Quicksilver"]
	path = Quicksilver
	url = https://github.com/thaisacs/Quicksilver
[submodule "Kripke"]
	path = Kripke
	url = https://github.com/thaisacs/Kripke
[submodule "pynamic"]
	path = pynamic
	url = https://github.com/thaisacs/pynamic
